.contact {
	background: $text-rev;
	padding: 5vh 0;
	.contact-box {
		padding: 10px 0;

		h3 {
			font-size: 1.6rem;
			font-weight: 600;
			margin: 5px 0 30px 0;
			color: $text-color;
			text-transform: uppercase;
		}
		p {
			img {
				margin-right: 10px;
			}
			span {
				font-size: 1.1rem;
				color: $secondary-color;
				font-weight: 500;

				a {
					text-decoration: none;
					color: $secondary-color;
				}
			}
		}
	}

	.contact-form {
		padding: 10px 0;

		.form-group {
			input,
			textarea {
				border-color: $primary-color;
			}
		}
		.button {
			background: $primary-color;
			color: $text-rev;
			padding: 10px 30px;
			border-radius: 0 2rem 2rem 0;
			font-size: 1.3rem;
			font-weight: 500;
			text-transform: uppercase;

			&:hover {
				background: $secondary-color;
				transform: scale(1.03, 1.03);
				transition: 0.3s ease-in;
			}
		}
	}
}
