.navbar {
	color: $text-rev;
	text-transform: uppercase;
	position: fixed;
	// top: 0;
	// left: 0;
	height: 85px;
	width: 100vw;
	padding: 0 5vw;
	z-index: 99;
	transition: 0.4s ease-out;
	// clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 50% 30%, 0% 20%);
	.navbar-brand {
		color: $white;
	}
	.navbar-nav {
		.nav-item {
			.nav-link {
				color: $text-rev;
				padding: 1rem;
			}
			.nav-link.button {
				background: $text-rev;
				color: $primary-color;
				padding: 0.9rem 1.5rem;
				font-weight: 700;
				border: 1px solid $text-rev;
				border-radius: 0 2rem 2rem 0;
			}
			.nav-link.button:hover {
				background: $primary-color;
				color: $text-rev;
			}
		}
	}

	&.scrolled {
		height: 65px;
		background: $primary-color;
	}
}
