.service-gellary {
	background: $secondary-color;
	padding: 3% 0 6% 0;
	position: relative;
	margin: -2px 0;

	.figure-holder {
		background: $text-rev;
		opacity: 0.8;
		border-radius: 3%;
		margin-bottom: 10px;

		img {
			padding: 10px 10px 0 10px;
		}
		.f-caption {
			background: $primary-color;
			color: $text-rev;
			text-align: center;
			text-transform: uppercase;
			padding: 10px 3px;
			font-size: 1.4rem;
			font-weight: 500;
			// border-radius: 0 0 4% 4%;
		}
		&:hover {
			opacity: 1;
			transform: scale(1.05, 1.05);
			border-radius: 10%;
			// box-sizing: border-box;
			transition: all 0.6s ease-in-out;
		}
	}

	&::after {
		margin-top: 1px;
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		border-bottom: 70px solid $text-rev;
		// clip-path: polygon(0% 99.5%, 100% 93%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 100%, 50% 93%, 100% 100%);
		// clip-path: polygon(0% 100%, 0% 93%, 50% 100%, 100% 93%, 100% 100%);
	}
}
