@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./variables";
@import "./global";
@import "./navbar";
@import "./hero";
@import "./modal";
@import "./about";
@import "./service";
@import "./service-gellary";
@import "./contact";
@import "./area-cover";
@import "./footer";
@import "./media";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
body {
	position: relative;
}
