@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./variables";
@import "./global";
@import "./navbar";
@import "./hero";
@import "./page-header";
@import "./modal";
@import "./about";
@import "./service";
@import "./service-gellary";
@import "./contact";
@import "./area-cover";
@import "./footer";
@import "./media";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	// height: 100%;
	// overflow-y: scroll;
}

.active {
	background: rgba($white, 0.9);
}
