@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./variables";
@import "./global";
@import "./navbar";
@import "./hero";
@import "./about";
@import "./service";
@import "./service-gellary";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
